<!DOCTYPE html>
<html>
    <head>
        <title>Add blog</title>
    </head>
    <body>
        <ul>
            <li><a href="/blog/home">Home</a></li>
            <li><a href="/blog/profile">Profile</a></li>
            <li><a href={{request.get_full_path}}>Add Blog</a></li>
            <li><a href="/signout">Signout</a></li>
            <li>Hello, {{user}}</li>
        </ul>
        <form action="/blog/addblogs" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="title" required><br>
            <input type="text" name="description" placeholder="description" required><br>
            <input type="submit"><br>
        </form>
    </body>
</html> 