<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <!-- <form action="register" method="post"> -->
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password1" placeholder="Password" required><br>
            <input type="password" name="password2" placeholder="Confirm Password" required><br>
            <input type="submit"><br>
            <a href="/login">Click Here to Login</a>
            <div>
                {% for message in messages %}
                <h3> {{message}} </h3>
                {% endfor %}
            </div>
        </form>
    </body>
</html> 